/*
***************************************************************
Style gobal
var(--block-border-color)
***************************************************************
*/
:root {
  --block-bg-color: #f2f2f2;
  --block-border-color: #858585;
  --content-font-size: clamp(0.55em, 0.75em, 2rem);
  --primary-title-fontsize: clamp(1em, 1.3em, 2em);
  --secondary-title-fontsize: clamp(0.8em, 1.1em, 1.8em);
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Italic.ttf");
  font-style: italic;
}
* {
  box-sizing: border-box;
}
Html,
main {
  font-family: "Lato", Arial, sans-serif;
  font-size: clamp(1rem, 2.2vw, 3.5rem); /* clamp(MIN, VAL, MAX)*/
  padding: 0;
  margin: 0;
  color: #262626;
  min-height: 100vh;
}
body {
  margin-top: 0.5em;
  margin-bottom: 0;
}

h1 {
  color: #262626;
  font-size: var(--primary-title-fontsize);
}

h2 {
  color: #262626;
  font-size: var(--secondary-title-fontsize);
}

/*
***************************************************************
Menu navigation
***************************************************************
*/
.header {
  display: block;
  position: sticky;
  top: 0px;
  width: 100%;
}
.header span {
  display: none;
}
h1 .mobileTitle {
  color: #262626;
}
.nav {
  background-color: var(--block-bg-color);
}
.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
  list-style: none;
  background-color: var(--block-bg-color);
  border: var(--block-border-color) 1px solid;
}
.nav li {
  flex-grow: 1;
}

.nav li:hover {
  background-color: #48cad9;
}

.nav a {
  display: block;
  padding: 0.6em;
  text-align: center;
  text-decoration: none;
  color: #595959;
  font-size: var(--primary-title-fontsize);
}

.nav a:hover {
  color: #ffffff;
}

/*
***************************************************************
Liste index.html des lieu
***************************************************************
*/
.indexSection p {
  padding: 1.2em 0.4em 1.2em 0.4em;
  background-color: var(--block-bg-color);
  border: var(--block-border-color) 0.01em solid;
  border-radius: 0.3em;
  font-size: var(--content-font-size);
}
.indexSection .p1 {
  animation: fadeIn 2s;
}
.indexSection .p2 {
  animation: fadeIn 4s;
}
.indexSection .p3 {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pictureListe {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0 3em;
  background-color: var(--block-bg-color);
  border: var(--block-border-color) 0.01em solid;
  border-radius: 0.3em;
  font-size: var(--content-font-size);
  /* initialisation des chiffres */
  counter-reset: li;
  color: #444;
  text-decoration: none;
  animation: fadeIn 6s;
}

.pictureListe ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-bottom: 4em;
}

.pictureListe a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.2em 0;
  background: #48cad9;
  color: white;
  text-decoration: none;
  border-radius: 1em;
}

.pictureListe a:hover {
  background: #d6d4d4;
  text-decoration: none;
}

.pictureListe a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  /*position du cercle du chiffre */
  left: -1.3em;
  /*position du cercle du chiffre */
  top: 50%;
  /*position du cercle du chiffre */
  margin-top: -1.3em;
  /*position du cercle du chiffre */
  background: #48cad9;
  height: 2em;
  /* hauteur du cercle du chiffre */
  width: 2em;
  /* largeur du cercle du chiffre */
  line-height: 2em;
  /* alignement du chiffre */
  border: 0.2em solid #fff;
  /* bordure du cercle*/
  text-align: center;
  font-weight: bold;
  border-radius: 1.2em;
  color: #fff;
}

/*
 -----------------------------------------------------
 Style grid photos
 -----------------------------------------------------
*/
.grid_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-bottom: 4em;
  justify-content: center;
  gap: 0.3em;
}

.grid_container figure {
  margin: 0;
  padding: 0;
}

.grid_container img {
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  cursor: zoom-in;
}

.grid_cell {
  width: 100%;
  margin: 1px;
}

/*
-----------------------------------------------------
 CSS pour les photos en pleine page
-----------------------------------------------------
*/
.modal-content {
  margin: auto;
  display: block;
  object-fit: contain;
  max-width: 100vw;
  max-height: 100vh;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 1.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#img-viewer {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  cursor: zoom-out;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100vw;
  }
}

.img-container {
  position: relative;
  width: 350px;
}

/*
-----------------------------------------------------
Mise en forme de la page Contact 
-----------------------------------------------------
*/
.contact {
  height: 10%;
  width: 100%;
}

.formulaire {
  display: block;
  padding: 1rem;
  margin: 0 auto;
}
.formulaire h1 {
  padding: 1em;
  color: #4b4a4a;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.45);
  border: 0.1em ridge var(--block-border-color);
  vertical-align: middle;
  text-align: center;
}

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  height: 1em;
  font-size: clamp(0.55em, 0.75em, 2rem);
  border: 1px solid var(--block-border-color);
  padding: 1em;
  border-radius: 4px;
  resize: vertical;
}
label {
  display: block;
  width: 100%;
  height: 1em;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #4b4a4a;
}
button {
  background-color: #44d7ebcb;
  color: white;
  float: right;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: clamp(0.55em, 0.75em, 2rem);
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  border: var(--block-border-color) solid 1px;
  border-radius: 0.4em;
}
button:hover {
  background-color: #44d7ebcb;
  opacity: 0.6;
}
.formresult {
  display: none;
}
/*
----------------------------------------------------------
Mise en forme du résultat du formulaire sur la page contact
  ----------------------------------------------------------
*/
.Divtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  background-color: #fefefe;
  width: 90%;
  margin: auto;
  overflow: auto;
  flex-direction: row;
  row-gap: 0.4em;
  border: var(--block-border-color) 1px solid;
}

.blockResulttitle {
  text-align: center;
  display: block;
}
.blockElementtitle {
  display: flex;
  padding: 1.5em;
  font-size: var(--primary-title-fontsize);
  color: #262626;
  background: var(--block-bg-color);
  width: 30%;
  margin: 0.1em;
}

.blockElement {
  display: flex;
  padding: 1.5em;
  font-size: var(--content-font-size);
  color: #262626;
  vertical-align: middle;
  width: 65%;
  margin: 0.1em;
}
.DivBtnretour {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: right;
}
.btnretour {
  background-color: #44d7ebcb;
  color: white;
  float: right;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: clamp(0.55em, 0.75em, 2rem);
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  border: var(--block-border-color) solid 1px;
  border-radius: 0.4em;
}
.btnretour:hover {
  background-color: #44d7ebcb;
  opacity: 0.6;
}

/*
-----------------------------------------------------
  Style footer
  -----------------------------------------------------
*/
footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
}
footer .footerContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 1em;
  width: 100%;
  background-color: var(--block-bg-color);
  border: var(--block-border-color) 0.01rem solid;
}
footer p {
  display: block;
  font-size: clamp(0.55em, 0.95em, 2rem);
  font-weight: 300;
  color: #a4a4a4;
}

footer p a {
  text-decoration: none;
  color: #a4a4a4;
}
footer img {
  width: 25%;
}

/*
   -----------------------------------------------------
   media query
   -----------------------------------------------------
 */
@media screen and (min-width: 480px) {
  body {
    margin-top: 0;
  }
  .mobileTitle {
    display: none;
  }

  .header {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(/img/bandeau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header span {
    display: block;
    position: absolute;
    width: 100%;
    top: 40vh;
    height: 3rem;
    text-align: center;
    font-size: clamp(2.5em, 3.2vw, 4.5rem);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: inset rgba(0, 0, 0, 0.15) 15px 0 15px 0;
    background-color: rgba(90, 90, 90, 0.2);
  }
  .nav {
    position: absolute;
    overflow: hidden;
    left: 20%;
    right: 20%;
    top: 85vh;
    width: 60%;
    z-index: 1000;
    margin: 0;
    background-color: rgba(242, 242, 242, 0.75);
    border: outset var(--block-border-color) 0.06rem;
    border-radius: 1rem;
  }
  .nav ul {
    background-color: rgba(242, 242, 242, 0.55);
  }
  .grid_container {
    max-width: 98vw;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
  }
  footer {
    position: relative;
    bottom: 0;
    z-index: 2;
  }
  footer img {
    width: auto;
  }
}
