/*
***************************************************************
Style gobal
***************************************************************
*/
Html,
main {
  font-size: clamp(1rem, 2.2vw, 3.5rem);
  padding: 0;
  margin: 0;
  color: #262626;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

h1 {
  color: #262626;
}

h2 {
  color: #262626;
}

/*
***************************************************************
Menu navigation
***************************************************************
*/
.header {
  position: sticky;
  top: 0;
}

.nav ul {
  display: flex;
  /*affichage du menu responsive tous les éléments enfant sont affectés par le display flex */
  padding: 0px;
  margin: 0px;
  width: 100%;
  justify-content: center;
  /* align les blocks ".nav a" au centre*/
  list-style: none;
  background-color: #F2F2F2;
  border: #d3d3d3 1px solid;
}

.nav li {
  flex-grow: 1;
}

.nav li:hover {
  background-color: #48CAD9;
}

.nav a {
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #595959;
  font-size: clamp(1.1rem, 2.2vw, 3.5rem);
}

.nav a:hover {
  color: #ffffff;
}

/*
***************************************************************
Liste index.html des lieu
***************************************************************
*/
.indexSection  hr {
  border-top: 1px #F2F2F2 dotted;
}
.indexSection p {
  padding: 1.2rem 0.4rem 1.2rem 0.4rem;
  background-color: #F2F2F2;
  border: #858585 0.15rem dashed;
}

.pictureListe {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background-color: #F2F2F2;
  border: #858585 0.15rem dashed;
  border-radius: .3em;
    /* initialisation des chiffre */
  counter-reset: li;
  color: #444;
  text-decoration: none;
}

.pictureListe ol {
  counter-reset: li;
  list-style: none;
  font-size: clamp(1.1rem, 2.2vw, 3.5rem);
  padding: 0;
  margin-bottom: 4em;
}

.pictureListe a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #48CAD9;
  color: white;
  text-decoration: none;
  border-radius: 1em;
}

.pictureListe a:hover {
  background: #d6d4d4;
  text-decoration: none;
}

.pictureListe a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  /*position du cercle du chiffre */
  left: -1.3em;
  /*position du cercle du chiffre */
  top: 50%;
  /*position du cercle du chiffre */
  margin-top: -1.3em;
  /*position du cercle du chiffre */
  background: #48CAD9;
  height: 2em;
  /* hauteur du cercle du chiffre */
  width: 2em;
  /* largeur du cercle du chiffre */
  line-height: 2em;
  /* alignement du chiffre */
  border: 0.2em solid #fff;
  /* bordure du cercle*/
  text-align: center;
  font-weight: bold;
  border-radius: 1.2em;
  color: #FFF;
}

/*
 -----------------------------------------------------
 Style grid photos
 -----------------------------------------------------
*/
.grid_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 0;
  justify-content: center;
}
.grid_container figure {
  margin: 0;
  padding: 0;
}
@media (min-width: 480px){
  .grid_container {
    max-width: 98vw;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: auto;
  }
  .grid_container figure {
    margin: 0;
    padding: 0;
  }
  .grid_container img {
    display: block;
    max-width: 100%;
    height: auto;
  }

}
  
.grid_cell {
  width: 85vw;
  margin: 1px;
}

.grid_picture {
  display: block;
  max-width: 100%;
}

.grid_text {
  margin-top: 1em;
}

.grid_text p {
  font-size: clamp(0.85em, 2.2vw, 3.5rem);
  font-weight: 500;
  margin-top: 2px;
  padding: 0;
}

.grid_text h3 {
  font-size: clamp(0.85em, 2.2vw, 3.5rem);
}

/*
   -----------------------------------------------------
   Style footer
   -----------------------------------------------------
  */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  padding: 0.6em;
  border: #858585 0.15rem dashed;

}

footer p {
  font-size: 0.7em;
  font-weight: 300;
  color: #A4A4A4;

}

footer p a {
  text-decoration: none;
  color: #A4A4A4;
}

